{% extends "main.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Categories</h1><!--TODO get rid of in-line style-->
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('showLogin') }}">
                <h3 class="float-right">Log in</h3>
            </a>
        </div>

    </div>


    <div class='flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}

                <ul>
                    {% for message in messages %}
                        <li><strong> {{ message }} </strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    </div>
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">

                {% for category in categories %}
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="{{ url_for('showItems', category_id = category.id) }}" aria-expanded="true"
                           aria-controls="collapseOne">
                            {{ category.name }}
                        </a>
                    </h5>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <script></script>
        </div>
    </div>
    {#        <div class="col-md-12 btn-group-vertical" role="group">#}
    {#                {% for category in categories %}#}
    {#                        <a class="btn" href="{{ url_for('showItems', category_id = category.id) }}">#}
    {#                            <h2>#}
    {#                                {{ category.name }}#}
    {#                            </h2>#}
    {##}
    {#                        </a>#}
    {#                {% endfor %}#}
    {#                </div>#}

{% endblock %}